@import "tailwindcss";

@source "./app/**/*.{js,ts,jsx,tsx}";
@source "./components/**/*.{js,ts,jsx,tsx}";

body{
  background-color:#111928
}
 
@font-face {
  font-family: "Mundial Regular";
  src: url("/font/MundialNarrow-Regular-BF67624ba586d07.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Mundial Medium";
  src: url("/font/MundialNarrow-Medium-BF67624ba5a687e.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Mundial Semibold";
  src: url("/font/MundialNarrow-SemiBold-BF67624ba5a98c1.otf") format("opentype");
  font-weight: 600;
}
.apexcharts-legend {
  flex-direction: column!important;
  align-items: flex-start!important;
  gap: 8px!important;
}

:root {
  --mundial-regular: "Mundial Regular";
  --mundial-medium: "Mundial Medium";
  --mundial-bold: "Mundial SemiBold";
}


@theme inline {
  --font-cairo: var(--font-cairo);
  --font-mundial-regular: var(--mundial-regular);
  --font-mundial-medium: var(--mundial-medium);
  --font-mundial-bold: var(--mundial-bold);
}


th{
  text-align: left;
  padding: 0 0 26px;
}
tr td{
  padding: 30px 0 26px 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-cairo)
}
