@import "tailwindcss";


@font-face {
  font-family: "Mundial Regular";
  src: url("/font/MundialNarrow-Regular-BF67624ba586d07.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Mundial Medium";
  src: url("/font/MundialNarrow-Medium-BF67624ba5a687e.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Mundial Semibold";
  src: url("/font/MundialNarrow-SemiBold-BF67624ba5a98c1.otf") format("opentype");
  font-weight: 600;
}

:root {
  --mundial-regular: "Mundial Regular";
  --mundial-medium: "Mundial Medium";
  --mundial-bold: "Mundial SemiBold";
}

@theme inline {
  --font-cairo: var(--font-cairo);
  --font-mundial-regular: var(--mundial-regular);
  --font-mundial-medium: var(--mundial-medium);
  --font-mundial-bold: var(--mundial-bold);
}




h1,h2,h3,h4,h5,h6{
  font-family: var(--font-cairo)
}
